
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/
.post {
	position: relative;
	margin-bottom: 1.5rem;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;

	img {
		width: 100%;
	}
}

.post-content {
	padding: 2rem;

	.entry-meta {
		font-family: $heading-font;
		font-size: 0.875rem;
		line-height: 1;
	}

	.entry-link {
		font-weight: 300;
		color: #ff9f63;
	}
	
	.entry-title {
		font-size: 1.25rem;
	}

	.entry-content {
		color: #8b8b8b;
	}
}
