
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    position: relative;
    padding: 5rem 0;
    background-color: $theme-color;
    z-index: 1;

    .subscribe-thumbnail {
        position: absolute;
        bottom: 0;
        right: 2rem;
        z-index: -1;
    }
}

#contact-form {
    p {
        color: #adadad;
    }
}