
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	.icon-wrapper {
		font-weight: 500;
		font-size: 1.125rem;
		color: $theme-color;
	}

	.icon-header {
		h4 {
			font-family: $body-font;
			font-weight: 400;
		}
	}
}