.logos {
	display: flex;
	justify-content: space-between;

	.logo-item {
		border: 1px solid #eaeaea;
		border-radius: 0.5rem;
		max-width: 11.625rem;
		height: 6.25rem;
		width: 100%;		
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}
} 